tests-data/testdtd.dtd

<!ELEMENT recetas (receta*)>
<!ELEMENT receta (titulo, ingredientes, procedimiento, herramientas, total_calorias)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT total_calorias (#PCDATA)>
<!ELEMENT ingredientes (ingrediente*)>
<!ELEMENT ingrediente (#PCDATA)>
<!ELEMENT procedimiento (paso*)>
<!ELEMENT paso (#PCDATA)>
<!ELEMENT herramientas (herramienta*)>
<!ELEMENT herramienta (#PCDATA)>